# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

# XUnit Test Reports
[Tt]est[RrT]eports

# MSTest test Results
[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.*

# Mac OS
.DS_Store
